* {
  font-family: monospace;
}

body {
  display: flex;
}

a {
  color: #ff4e47;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

h2 {
  padding: 0;
}

input {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  max-width: 12.5vh;
}

label {
  margin-bottom: 1rem;
  font-size: 2.5em;
  text-align: right;
}

button {
  height: 2.5rem;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  background: transparent;
  color: #ff4e47;
  border-radius: 1rem;
  border-color: #ff4e47;
}
  button:hover {
    color: white;
    background: #ff4e47;
  }

/*Grid styling*/
#div--grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vh;
}

/*Right Column styling*/
.div--right-column {
  max-width: 30vh;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

  .h1-title{
    font-size: 1.5rem;
  }

  .div--info {
    font-size: 1.5rem;
  }

    .p--square-hex-value {
      color: white;
      text-align: center;
      font-size: 2.5rem;
    }

#div--selected-color {
  display: none;
  font-size: 1.5rem;

}

  #div--sample {
    width: 100%;
    height: 20vh;
    margin-bottom: 1.5rem;
  }

#div--color-history {
  display: none;
  font-size: 1.5rem;

}

  #ul--color-history-list{
    font-size: 2rem;
    list-style: none;
    padding: 0;
  }
  .li--history{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .div--sample-li{
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
  }

#div--css-gradient{
  display: none;
  font-size: 1.5rem;
}
  .span--css-gradient{
    display: none;
  }

  #div--gradient-sample{
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    /* background: linear-gradient(90deg, #99f017 0%, #eb0817 100%); */
  }

.span--bio-detail {
  font-size: 1.5rem;
}
