* {
  font-family: helvetica;
}

body {
  display: flex;
}

input {
  margin-bottom: 1rem;
  font-size: 2rem;
}

button {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#div--grid {
  display: flex;
  flex-wrap: wrap;
}

.div--right-column{
  max-width: 25vh;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.form--color-form{
  text-align: left;
}

.text {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
